[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/github.com/rakyll/hey"]
	path = src/github.com/rakyll/hey
	url = https://github.com/cf-routing/hey
[submodule "src/github.com/rakyll/boom"]
	path = src/github.com/rakyll/boom
	url = https://github.com/rakyll/boom
[submodule "src/github.com/shirou/gopsutil"]
	path = src/github.com/shirou/gopsutil
	url = http://github.com/shirou/gopsutil
