config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
src/jupyter_notebook/.ipynb_checkpoints/*
#*
.cache
pkg
bin
src/http_route_populator/http_route_populator
src/github.com/codegangsta/
src/github.com/vito/
